body{
	margin: 0;
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
	overflow: hidden;
}

#canvas {
	position: absolute;
	background-color: black;
	z-index: 0;
}

#menu {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 6vmin;
	z-index: 2;
	display: block;
}

.line {
	position: absolute;
	height: 100%;
	top: 0;
	border-left: 5px solid white;
}

#leftLine {
	left: calc(calc(50vw - 50vmin) - 2.5px);
}

#rightLine {
	right: calc(calc(50vw - 50vmin) - 2.5px);
}

#menuTop {
	position: absolute;
	width: 50vmin;
	bottom: calc(50vh + 25vmin);
	left: calc(50vw - 25vmin);
}

#playButton {
	position: absolute;
	width: 50vmin;
	height: 50vmin;
	top: calc(50vh - 25vmin);
	left: calc(50vw - 25vmin)
}

#menuBottom {
	position: absolute;
	width: 50vmin;
	top: calc(50vh + 25vmin);
	left: calc(50vw - 25vmin);
}


#overlay {
	position: absolute;
	width: 100vmin;
	height: 100%;
	left: calc(50vw - 50vmin);
	z-index: 1;
}

.overlayText {
	position: absolute;
	background-color: white;
	font-size: 3vmin;
}

#overlaySpeed {
	left: 0;
}

#overlayScore {
	right: 0;
}


input[type=number]{
    border: 1px solid white;
    background-color: black;
    color: white;
    outline: none;
    width: 5vmin;
    height: 3vmin;
    font-size: 3vmin;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}